@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

::-webkit-scrollbar {display: none;}

:root{
    --background: linear-gradient(135deg, #011c40ea 15%, #05c7f241 85%);
    --background2: linear-gradient(135deg, #05c7f2f1 40%, #05c7f2e1 60%);
    --background3: linear-gradient(135deg, #fff 50%, #05c7f2a4 50%);
    --background4: linear-gradient(135deg, #05c7f2a4 40%, #05c7f244 60%);
    --background5: linear-gradient(135deg, #05c7f244 40%, #fff 60%);
    --background6: linear-gradient(135deg, #fff 40%, #05c7f2a4 60%);
    --background7: linear-gradient(45deg, #05c7f29c 40%, #05c7f244 60%);
    --background8: linear-gradient(110deg, #05c7f249 40%, #fff 60%);
    --color-primary: #05c7f2;
    --color-secondary: #011c40;
    --color-third: #d95204;
    --color-fourth: #0a4001;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}
.subtitle{
    color: var(--color-secondary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

/*Inicio*/

header{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.menu{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0, .5);
}
.menu-navegacion{
    position: fixed;
    z-index: 9;
    top: 0%;
    right: 0%;
    width: 30vw;
    height: 100%;
    background-image: var(--background2), url(../assets/LINCES\ logo\ PNG5.png);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    transition: transform .3s eas-in-out;
    transform: translate(110%);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 3% 0 0 3%;
}
.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
}
.contenedor{
    width: 100%;
    overflow: hidden;
}
.slider-contenedor{
    width: 100%;
    display: flex;
}
.contenido-slider{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--background3);
    color: var(--color-secondary);
    flex-shrink: 0;
}
.contenido-slider:nth-child(2){
    background: var(--background4);
}
.contenido-slider:nth-child(2) img{
    width: 600px;
    clip-path: polygon(0 0, 43% 0, 100% 25%, 100% 100%, 37% 100%, 0 73%);
    
}
.contenido-slider:nth-child(3){
    background: var(--background5);
}
.contenido-slider:nth-child(3) img{
    width: 600px;
    clip-path: polygon(31% 0, 100% 0, 100% 50%, 75% 100%, 0 100%, 0 40%);
    
}
.contenido-slider > img{
    width: 400px;
}
.contenido-slider > div{
    width: 40%;
}
.contenido-slider h1{
    font-size: 3.5rem;
    font-weight: 800;  
}
.contenido-slider h2{
    font-size: 1.7rem; 
    font-weight: 500;  
    text-align: justify;
    line-height: 30px;
}
.contenido-slider a{
    color: var(--color-secondary);
    background: var(--color-primary);
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 10%;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
}

/*Acerca del deporte*/

.presentation{
    padding-top: 8%;
    text-align: center;
}
.presentation_picture{
    max-width: 22%;
    max-height: 22%;
}
.presentation_copy{
    width: 80%;
    margin: 2% auto;
    line-height: 1.5;
    font-weight: 300;
}
.acerca_icons{
    display: flex;
    justify-content: space-evenly;
}
.acerca_icon{
    font-size: 35px;
    text-decoration: none;
}
.acerca_icon--i{
    color: rgb(107, 11, 107);
}
.acerca_icon--y{
    color: red;
}
.acerca_icon_p{
    margin-top: 0.5rem;
}

/*Quienes somos*/

.about{
    background-image: url(../assets/22a.png);
    margin-top: -6%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}
.about_img{
    text-align: center;
}
.about_picture{
    max-width: 60%;
}
.about_picture--2{
    max-width: 75%;
}
.about_paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*Galeria*/

.subtitulo_gallery{
    text-align: center;
}
.gallery{
    background-image: url(../assets/22b.png);
    padding-top: 5%;
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin: 15px 0px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.753);
    cursor: pointer;
    border-radius: 1%;
}
.img-galeria:hover{   
    transition: .3s;
    transform: scalex(1.1) scaley(1.1);
    transform-origin: center;
}
.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 40%;
    height: 90%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);
}

/*¿Qué dicen de nosotras?*/

.testimony{
    background-image: url(../assets/22.png);
}
.testimony_grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}
.testimony_item_p{
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 2%;
}
.testimony_conteiner_icon{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2%;
}
.testimony_icon{
    text-decoration: none;
    color: rgb(107, 11, 107);
    font-size: 35px;
}
iframe{
    max-width: 95%;
}

/*Ubicación*/

#ubicacion{
    padding-top: 0;
}
.ubicación_grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
}
.ubicacion_item_p{
    line-height: 1.5;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 2%;
}
.ubicacion_container_icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2%;
}
.ubicacion_icon{
    color: rgb(42, 45, 179);
    font-size: 35px;
    text-decoration: none;
}
.ubicacion_icon--ig{
    color: rgb(107, 11, 107);
}
.ubicacion_item_p--link{
    text-decoration: none;
    color: black;
}

/*Footer*/

footer{
    background: linear-gradient(120deg, #011c40 0%, #05c7f2 100%);
}
.footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.footer_title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.footer_icons{
    display: flex;
    justify-content: space-evenly;
}
.footer_container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
}
.footer_icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}
.footer_icon_p{
    margin-top: 7%;
}
.footer_container_firma{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2%;
}
.footer_firma{
    font-weight: 300;
    font-size: 1.3rem;
    margin-left: 2%;
    color: #fff;
}
.footer_firma_icono{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.footer_logo{
    width: 20%;
    height: 20%;
}

/*Responsive design*/

@media screen and (max-width: 800px) {
    .container{
        padding: 40px 0;
    }
    .subtitle{
        font-size: 2rem;
    }
    .menu-navegacion{
        width: 50vw;
        background-position: -30px -100px;
    }
    .menu-navegacion a{
        font-size: 1rem;
    }
    .contenido-slider{
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
    }
    .contenido-slider{
        background: var(--background6);
    }
    .contenido-slider > img{
        width: 65%;
    }
    .contenido-slider h1{
        font-size: 3rem; 
    }
    .contenido-slider h2{
        font-size: 1.2rem; 
    }
    .contenido-slider:nth-child(2){
        background: var(--background7);
    }
    .contenido-slider:nth-child(3){
        background: var(--background8);
    }
    .contenido-slider:nth-child(2) img{
        width: 85%;
    }
    .contenido-slider:nth-child(3) img{
        width: 85%;
    }
    .contenido-slider > div{
        width: 80%;
    }
    .presentation_copy{
        width: 100%;
    }
    .presentation_picture{
        max-width: 30%;
        max-height: 30%;
    }
    .about{
        background-image: url(../assets/FF.png);
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .about_texts:last-child{
        grid-row: 3/4;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-galeria{
        width: 40%;
        margin: 15px 20px;
    }
    .testimony{
        background-image: url(../assets/FF.png);
    }
    .testimony_grid{
        grid-template-columns: 1fr;
    }
    .testimony_item_p{
        font-weight: 400;
        font-size: 1rem;
    }
    .ubicación_grid{
        grid-template-columns: 1fr;
    }
    .ubicacion_container_icon{
        margin-bottom: 10px;
    }
    .ubicacion_item_p{
        font-weight: 400;
        font-size: 1rem;
    }
    .footer_container_firma{
        margin-top: 7%;
        justify-content: center;
    }
    .footer_grid{
        grid-template-columns: 1fr;
    }
    .footer_contact:last-child{
        grid-row: 1/3;
    }
    .footer_firma{
        font-size: 1rem;
    }
    .footer_firma_icono{
        font-size: 20px;
    }
}

@media screen and (max-width: 490px) {
    .container{
        padding: 30px 0;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .menu-navegacion{
        width: 65vw;
        background-position: -50px -130px;
    }
    .menu{
        top: 20px;
        right: 20px;
    }
    .contenido-slider{
        flex-direction: column;
        align-items:center;
        justify-content: space-evenly;
    }
    .contenido-slider > img{
        width: 90%;
    }
    .contenido-slider h1{
        font-size: 2rem; 
    }
    .contenido-slider h2{
        font-size: 0.8rem; 
    }
    .contenido-slider:nth-child(2) img{
        width: 95%;
    }
    .contenido-slider:nth-child(3) img{
        width: 95%;
    }
    .presentation_picture{
        max-width: 45%;
        max-height: 45%;
    }
    .presentation_copy{
        font-size: 0.8rem;
    }
    .acerca_icon_p{
        font-size: 0.8rem;
    }
    .about{
        row-gap: 15px;
    }
    .about_paragraph{
        font-size: 0.8rem;
    }
    .about_picture{
        max-width: 80%;
    }
    .about_picture--2{
        max-width: 90%;
    }
    .img-galeria{
        width: 75%;
    }
    .agregar-imagen{
        width: 90%;
    }
    .testimony_item_p{
        font-size: 0.8rem;
    }
    .testimony_icon{
        font-size: 25px;
    }
    .ubicacion_item_p{
        font-size: 0.8rem;
    }
    .ubicacion_icon{
        font-size: 25px;
    }
}